mixin sMedicalSpecialists(data)
	// start sMedicalSpecialists
	+b.SECTION.sMedicalSpecialists.section#sMedicalSpecialists&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Medical Specialists
				p Meet our well-qualified doctors, who work every day to&nbsp;ensure you get perfect medical services. They watch your health and are very helpful.
			+e.row.row
				mixin item(img, title, text)
					.col-sm-6.col-md-4.col-lg-3
						+e.item
							+e.img-wrap
								.img-wrap-center
									+img(`img/${img}`)
							h3!=title
							p!=text 
				+item('sMedicalSpecialists-img-1.png', 'Dr. Peter Schenker', 'CONSULTING DOCTOR')
				+item('sMedicalSpecialists-img-2.png', 'Dr. Markus Heuser', 'CONSULTING DOCTOR')
				+item('sMedicalSpecialists-img-3.png', 'Dr. Viola Fox', 'CONSULTING DOCTOR')
				+item('sMedicalSpecialists-img-4.png', 'PD Dr. Buhl', 'CONSULTING DOCTOR')
				+item('sMedicalSpecialists-img-5.png', 'Dr. Becher', 'CONSULTING DOCTOR')
				+item('sMedicalSpecialists-img-6.png', 'Dr. Seifert', 'CONSULTING DOCTOR')
				+item('sMedicalSpecialists-img-7.png', 'Dr. Standl anastesie', 'CONSULTING DOCTOR')
				+item('sMedicalSpecialists-img-8.png', 'Dr. Bock Neurologie', 'CONSULTING DOCTOR')
	// end sMedicalSpecialists