
mixin modal() 
	//  start modals
	//- a(href="modal-call").link-modal-js modal-call 
	div(id="modal-call"  style="display: none" )
		+b.modal-win
			+e.row.row
				.col-md
					+sDepartmentsItem(1, 'Neurology', true)
				.col-md-auto
					p.pragraph The Neurosurgery at&nbsp;the hospital Solingen is&nbsp;one of&nbsp;the leading neurosurgical centres in&nbsp;Europe. Firmly anchored in&nbsp;the Neurocentre of&nbsp;the Head Clinic and the neighbouring specialist clinics of&nbsp;the University Medical School, we&nbsp;offer our patients neurosurgical therapy at&nbsp;the highest medical level. In&nbsp;five state-of-the-art operating theatres, we&nbsp;treat the entire spectrum of&nbsp;diseases of&nbsp;the peripheral and central nervous system. Special focal points are brain tumour surgery and spinal surgery.
			+form-wrap
				+e.row.row
					.col-sm-6
						+input('Phone number', 'tel')
					.col-sm-6
						+input('Email', 'email')
					.col-12
						+policy
					.col
						+e.btn.btn.btn-primary(type="submit") Request call
	// #modal-call

	div(id="modal-call-2"  style="display: none" )
		+b.modal-win
			+e.row.row
				.col-md
					+medicalSpecialistsItem('sMedicalSpecialists-img-4.png', 'PD Dr. Buhl', 'CONSULTING DOCTOR')
				.col-md-auto
					p.pragraph Surgery of&nbsp;the respiratory tract is&nbsp;generally performed by&nbsp;specialists in&nbsp;cardiothoracic surgery (or&nbsp;thoracic surgery) though minor procedures may be&nbsp;performed by pulmonologists. Pulmonology is&nbsp;closely.
			+form-wrap
				+e.row.row
					.col-sm-6
						+input('Phone number', 'tel')
					.col-sm-6
						+input('Email', 'email')
					.col-12
						+policy
					.col
						+e.btn.btn.btn-primary(type="submit") Request call
	// #modal-call
	
	div(id="modal-thanks"  style="display: none" )
		+b.modal-win--thanks
			.text-center
				.h2 Thanks for your response
				p We will answer as soon as possible
				.btn.btn-primary.modal-close-js Close
	// #modal-thanks

	div(id="modal-article"  style="display: none" )
		+b.modal-win--article
			+img('img/article-img-1.webp').res-i
			.h2 Dear guests and patients! 
			p We welcome You to visit our coordinating center, designed specifically for foreign patients.
			p Dear patients and visitors, here you can find information for international / forieng patients. 
			p Our International Department is located directly in the Clinic Solingen, and it was founded especially for the patients from all over the world.
			p Our office is the administrative center for patients from around the world. Our staff is ready to provide You with information about the medical services of the hospital, Solingen and assist you in organising Your treatment. Our consulting center are ready to provide you with all needed support and information according to:
			ul
				li appointment and consultation,
				li diagnostics,
				li inpatient and outpatient treatment.
			p International Department helps you with translation of medical documents and records, visa support, transfers from airport to the hospital and back, accomodation near clinic, inpatient and outpatient treatment and many other.

			p We totally understand that sometimes the processes of diagnostics and treatment might be stressful for the patient and the relatives, family members. That is why we are here to support you and to make all the procedures easier and comfortable. 

			p You can be sure, in Solingen City Hospital you will be in the reliable hands of professional doctors and medical personnel.

			.h4 Additional services:
			ol
				li One way transfer from the airport 100 euro
				li Visa support
				li Translation services 35 euro / hour
				li Wi-Fi
				li Accommodation 50 euro / day
				li Translation of documents and medical records
			p Translation of documents and medical records
			p Our page provides information about inpatient and outpatient treatment in our clinic, about arrival and accommodation, visa support and other services. If You need further information, do not hesitate to contact us; our contacts You can find here or on the contacts bar to the right on our page.

			p We understand Your concern and anxiety for Your loved ones when it comes to necessary medical care. Our goal is to make the treatment more successful and painless for You and Your family. You can be sure that at our hospital You will be in the hands of professionals.

			p We wish You a speedy recovery!

			.h4 Questions?

			p Please contact us in case of any questions via telephone number or via Watsapp / Viber. You will receive the answer ASAP.
			+e.link
				span Email: 
				a(href="mailto:kontakt@international-office-solingen.de")  kontakt@international-office-solingen.de
			+e.link
				span Tel.: 
				a(href="tel:+492125476913") +49 212 5476913
			+e.link
				span Viber | Whatsapp: 
				a(href="tel:+491732034066") +49 173-2034066 
				span | 
				a(href="tel:+491775404270") +49 177-5404270
	// #modal-article
	div(id="modal-article-2"  style="display: none" )
		+b.modal-win--article
			.h2 How safe is the DaVinci Xi?
			p Robotic surgery is even more precise and gentle on the patient and can reduce the duration of the operation, including anaesthesia. Thanks to lighting technology and a three-dimensional camera, the surgeon can even better recognise delicate structures such as nerves or vessels.
			p How is the DaVinci Xi surgical robot designed?

			+img('img/article-img-2.jpg').res-i

			p The DaVinci Xi consists of a surgeon's console, a computer tower and a patient trolley. The surgeon uses the surgeon's console to control the instruments attached to the patient trolley. Control is transferred via the computer tower, which acts between the components. The surgeon uses the control console to control four arms and the video tower.

			p The operator controls the robot arms in real time using arm movements. The DaVinci Xi is based on the so-called Master-Slave robot system. The robot cannot make independent movements. Rather, it is an outstretched hand of a surgeon.

			.h4 How does the robotic surgery work?

			p With the DaVinci system, all instruments are introduced into the abdomen through tiny incisions in a minimally invasive manner: a key innovation is that the movements of the surgeon's hand can be transferred to the surgical instruments with extreme precision, completely without shaking, with all the freedom and with 10x 3D magnification.

			p The system works by means of the surgeon's intelligent remote control of miniature hands in the operating theatre. It connects two fingers of each hand in loops and can thus act 'as usual’. It detects the view using a camera controlled by a foot pedal. As under the operating microscope, it can arbitrarily magnify the operating field.

			p Surgeons are always monitoring the situation: if they remove their fingers from the loop or interrupt contact with the camera, nothing will move.

			+img('img/article-img-3.jpg').res-i

			.h4 How safe is the DaVinci Xi?

			p Robotic surgery means maximum safety. The robot does not make any independent movements. Rather, it depends on the commands and actions of the surgeon. For example, if the operator interrupts communication with the console, the DaVinci Xi also stops working immediately (robot-assisted Master-Slave system).

			p Various departments at the Solingen clinic can use this special surgical technique of the DaVinci Surgical System:
			ul.custom-list
				li - Urologists
				li - General, visceral and oncological surgeons
				li - Gynaecologists

			p Experienced surgeons at the Solingen clinic use the DaVinci Xi artificial intelligence support especially for highly complex cases and for interdisciplinary interventions
	// end modals