mixin sWhatWeDo(data)
	// start sWhatWeDo
	+b.SECTION.sWhatWeDo.section#sWhatWeDo&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 What We Do
				p We&nbsp;offer a&nbsp;wide selection of&nbsp;medical services and the best specialists in&nbsp;medicine to&nbsp;help our patients and their families
			+e.row.row
				mixin item(icon, title, text)
					+e.item
						+img(`img/svg/${icon}`)
						h3!= title
						p!= text
				.col-sm-6.col-md-4.col-lg-3
					+item('sWhatWeDo-icon-1.svg', 'Opening Hours<br>SUPPORT 24/7', 'The International Office team and the hospital&rsquo;s medical staff are there for you throughout your stay. Your questions and concerns are our top priority.')
				.col-sm-6.col-md-4.col-lg-3 
					+item('sWhatWeDo-icon-2.svg', 'Personalized Treatment', 'After a&nbsp;thorough medical examination, an&nbsp;individual therapy concept will be&nbsp;developed according to&nbsp;the latest medical knowledge.The focus is&nbsp;on&nbsp;the most effective and gentle treatment method.')
				.col-sm-6.col-md-4.col-lg-3 
					+item('sWhatWeDo-icon-3.svg', 'Quality and Safety', 'Our doctors are among the best specialists and have been awarded several awards for advanced medicine. The treatment methods used are in line with the latest medical developments in the world.')
				.col-sm-6.col-md-4.col-lg-3 
					+item('sWhatWeDo-icon-4.svg', 'Immediate Service', 'Your treatment plan is&nbsp;designed for steady progress, with every phase promptly implemented.')
	// end sWhatWeDo