mixin sWhatPatientsSay(data)
	// start sWhatPatientsSay
	+b.SECTION.sWhatPatientsSay.section#sWhatPatientsSay.bg-wrap&attributes(attributes)
		+e.img-wrap.picture-bg: +img('img/sWhatPatientsSay-bg-1.jpg', 'bg')
		.container
			+b.section-title.text-center
				h2 What Patients Say
				p Meet our well-qualified doctors, who work every day to&nbsp;ensure you get perfect medical services. They watch your health and are very helpful.
			+e.arrow-wrap
				+e.slider--js.swiper
					.swiper-wrapper
						mixin slide(img, text, name, status)
							.swiper-slide
								+e.slide
									+img(`img/${img}`)
									+e.text!=text
									+e.name!= name
									span!= status
						+slide('patient-3.jpg', 'Hospital International office Team was very friendly and professional with appointments and support. Hospital doctors are very well experienced and staff was friendly', 'Isam (Jordan)', 'Patient') 
						+slide('patient-4.png', 'We&nbsp;were blessed to&nbsp;have a&nbsp;super professional and amazing surgeon and surgical team. My&nbsp;mother was admitted to&nbsp;Solingen Hospital for brain tumor removal. We&nbsp;were blessed to&nbsp;have a&nbsp;super professional and amazing surgeon and surgical team. Post operation cares both at&nbsp;IC and ward (station E51) were very well organised and handled professionally and with a&nbsp;lot of&nbsp;care and kindness', 'Shima  (Netherlands)', 'Patient') 
						+slide('patient-1.jpg', 'The Medical team were First class! The Medical team were First class. To say excellent care and treatment is sn understatement.', 'Michele (Ireland)', 'Patient') 
						+slide('patient-2.jpg', 'Everything was organized very quickly. Taking into account our diagnosis (Cr head of the pancreas) it was very important for us. Thank you very much Bookimed for the promptness', 'Suzan Lenz (Denmark)', 'Patient') 
						+slide('patient-5.jpg', 'The whole experience was excellent! Alexandra from the international department instantly made an appointment for a consultation and examination, and helped me book a hotel and a car to Solingen. She was always in touch with me and my wife while I was in surgery. The medical team was very professional and Prof. Heuser the urologist gave me several treatment options and we made a decision together. Thank you for his patience and for giving me back my life', 'Khalid (Egypt)', 'Patient') 
						+slide('patient-6.jpg', "From the first day I got to the centre of Brest cancer Solingen was surrounded by care and understanding, they literally helped me in everything. I quickly got to the appointment, quickly went through all the necessary procedures, put it down and operated on. It's all important. Chemotherapy and radiotherapy procedures are strictly scheduled and with maximum comfort for patients. Many thanks to Dr Seifert and her staff, and international staff for their help. I hope my feedback will help other patients to decide", 'Andy Bennett (UAE)', 'Patient') 
				+arrow
	// end sWhatPatientsSay