mixin sWelcome(data)
	// start sWelcome
	+b.SECTION.sWelcome.section#sWelcome.bg-wrap&attributes(attributes)
		+e.img-wrap.picture-bg: +img('img/sWelcome-bg-1.jpg', 'bg')
		.container
			+e.row.row
				.col-lg-6
					h2.h1 Welcome To Our Hospital!
					h3 We offer extensive medical procedures to outbound and inbound patients.
					p In&nbsp;16&nbsp;hospitals, institutes and interdisciplinary centers of&nbsp;our clinic, we&nbsp;can offer you the modern diagnostic methods, the latest treatment methods and individual care in&nbsp;the inpatient and outpatient area.
					p We&nbsp;have 658 hospital beds and more than 1,900 employees of&nbsp;medical care, management and service; and more than 60,000 patients use our services every year. Our range of&nbsp;services includes not only round-the-clock ambulance in&nbsp;the Central Emergency Department, but also highly qualified procedures in&nbsp;selected specialized departments.
	// end sWelcome