extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sWhatWeDo/_sWhatWeDo.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sDepartments/_sDepartments.pug
include ../blocks/sWelcome/_sWelcome.pug
include ../blocks/sMedicalSpecialists/_sMedicalSpecialists.pug
include ../blocks/sLatestNews/_sLatestNews.pug
include ../blocks/sWhatPatientsSay/_sWhatPatientsSay.pug
include ../blocks/sAwards/_sAwards.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= 'main.jpg'

block title
	- let  title= 'Academic Hospital Solingen, Germany | Diagnostics, counseling and treatment in Germany'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+headerBlock 
		+sWhatWeDo
		+sForm
		+sDepartments
		+sWelcome
		+sMedicalSpecialists
		+sAwards
		+sWhatPatientsSay
		+sLatestNews
	+parts('footer')
      



