mixin sPrivacyPolicy(data)
	// start sPrivacyPolicy
	+b.SECTION.sPrivacyPolicy.section#sPrivacyPolicy&attributes(attributes)
		.container
			h1 Privacy policy
			p The operator of this page/ pages to take the protection of your personal data very seriously. We will treat your personal data confidentially and in accordance with the statutory data protection provisions and this privacy policy.
			
			h4 The Responsible Body
			p The responsible body within the meaning of the data protection laws, in particular the EU data protection basic regulation (DSGVO), is:
			ul
				li International Office am Klinikum Solingen GmbH  Frau Alexandra Zinnmann  
				li Gotenstraße 1  42653 Solingen  
				li Phone: 0212/5476913  
				li Fax: 0212/5476934  
				li Email: #[a(href="mailto:info@international-office-solingen.de") info@international-office-solingen.de]
				li Internet: #[a(href="www.clinic-solingen.de ", target="_blank", rel="noopener noreferrer") www.clinic-solingen.de ] 

			h4 Collection, processing and use of personal data
			p You can visit our website without giving any information to your Person.
			p Personal data are only collected if you provide it to us in the context of a request/ contact voluntarily. We use the data communicated by you without your separate consent exclusively for the fulfilment of your request/ contact.
			p We point out that data transmission on the Internet (e.g. when communicating by E-Mail) security gaps. A seamless protection of data against access by third parties is not possible.
			
			h4 SSL encryption
			p In order to protect the security of your data during Transmission, we use state-of-the-art encryption methods (e.g. SSL) via HTTPS.
			
			h4 Disclosure of personal data
			p A transfer of your data to third parties only insofar as this is necessary for dealing with your enquiry/ contact is necessary.
			
			p Their rights to information, correction, locking, deletion and objection
			p You have the right at any time to obtain information about your stored personal data. You also have the right to correction, locking or-apart from the mandatory data storage for business processing, cancellation of your personal data. Please contact via Mail ( #[a(href='mailto:info@international-office-solingen.de') info@international-office-solingen.de]) to our management.
			p To a block of data can be considered at any time, this data must be kept for control purposes in a locked file. You can also request the deletion of the data, insofar as there is no legal requirement for Archiving. To the extent that such an obligation exists, we will block your data upon request.
			p You can make Changes to or revoke the agreement by sending a notice to us with effect for the future.
			
			h4 Server Log Files
			p The Provider of the pages automatically collects and stores information in so-called Server Log Files which your Browser transmits to us automatically. These are:
			ul
				li Browser Type/ Browser Versionthe operating system used
				li Referrer URLHostname of the accessing computer
				li Time of the server request. These data are not assignable to certain persons. A combination of this data with other data sources is not made. We reserve the right to check this data later when we have concrete evidence for unlawful use of known.
			
			h4 Contradiction Promotional Emails
			p The use of the framework of the imprint obligation published contact data for Sending of not explicitly requested advertising and information materials is hereby contradicted. The operator of the site/ pages expressly reserves legal steps in case of unsolicited sending of advertising information, e.g. Spam E-Mails.
			
			h4 Changes to our privacy policy
			p We reserve the right to occasionally modify our privacy policy, so that it continually meets the current legal requirements, or Changes to our services in the Declaration of data protection, for example, in the introduction of new Services. For your re-visit to the new privacy statement will apply.
			
			h4 Questions about data protection
			p If you have any questions about our privacy practices, please write us an E-Mail - 
				a(href="mailto:info@international-office-solingen.de") info@international-office-solingen.de
	// end sPrivacyPolicy